
<nav>
        <button routerLink="/">Home</button>

        <button routerLink="/information"> Information</button>
        <router-outlet></router-outlet> 
</nav>


<section>
        <main>
                <h1>Importants Url's</h1>
                <p>1. add an Url or Text and see behind how localStorage get the information.</p>
                <p>2. Information button contain data from API' on: https://jsonplaceholder.typicode.com/posts
                If you press this button, you will see how 'get' http request show you the title and body from it.
                </p>
                
                <form (submit) = "addUser(newUser)">
                        <input type="text" #newUser>
                        <button>Add a Link</button>
                </form>
        </main>
</section>


<section>
        <ul>
                <li *ngFor="let user of users">
                        {{ user }} <button (click)="deleteUser(user)">&#10005;</button>
                </li>
        </ul>
</section>





