<h1>Add Angular Krakow</h1>
<nav class="nav-bar">
        <button routerLink="/" class="nav-bar__button">Home</button>

        <button routerLink="/information" class="nav-bar__button"> Information</button>
        
</nav>
<router-outlet></router-outlet> 


        <main>
                <article class="article">
                                <h2 class="article__title">Importants Url's</h2>
                                <p class="article__paragraph">1. add an Url or Text and see behind how localStorage get the information.</p>
                                <p class="article__paragraph">2. Information button contain data from <b>API</b> on: https://jsonplaceholder.typicode.com/posts
                                If you press this button, you will see how 'get' http request show you the title and body from it.
                                </p>
                </article>
                
                
                <form (submit) = "addUser(newUser)" class="main-form">
                        <input type="text" #newUser class="main-form__input" placeholder="Url or text">
                        <button class="main-form__button">Add</button>
                </form>
        




        <ul class="list">
                <li *ngFor="let user of users" class="list__item">
                        {{ user }} <button (click)="deleteUser(user)" class="list__item--b">&#10005;</button>
                </li>
        </ul>

</main>




